/* 
	Background Images 
	>Desktop
*/

#page1 {
	background: url(../images/project/bg.jpg) no-repeat center center fixed; 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	background-size: cover;
}

#page2 {
	background: url(../images/project/bg3.jpg) no-repeat center center fixed; 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	background-size: cover;
}

#page3 {
	background: url(../images/project/bg2.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	background-size: cover;
}

#page4 {
	background: url(../images/project/bg4.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	background-size: cover;
}

#page5 {
	background: url(../images/project/bg.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	background-size: cover;
}

#page6 {
	background: url(../images/project/bg4.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	background-size: cover;
}

#frame_1 {
	background-image:url('../images/slide/setup.jpg');
}

#frame_2 {
	background-image:url('../images/slide/queue.jpg');
}

#frame_3 {
	background-image:url('../images/slide/queue1.jpg');
}

#frame_4 {
	background-image:url('../images/slide/queue2.jpg');
}

#frame_5 {
	background-image:url('../images/slide/people1.jpg');
}

#frame_6 {
	background-image:url('../images/slide/people2.jpg');
}

#frame_7 {
	background-image:url('../images/slide/people3.jpg');
}

#frame_8 {
	background-image:url('../images/slide/people4.jpg');
}

#frame_9 {
	background-image:url('../images/slide/people5.jpg');
}

#frame_10 {
	background-image:url('../images/slide/people6.jpg');
}

#frame_11 {
	background-image:url('../images/slide/people7.jpg');
}

#frame_12 {
	background-image:url('../images/slide/tank1.jpg');
}

#frame_13 {
	background-image:url('../images/slide/tank2.jpg');
}

#frame_14 {
	background-image:url('../images/slide/tank3.jpg');
}

#frame_15 {
	background-image:url('../images/slide/speech.jpg');
}

#frame_16 {
	background-image:url('../images/slide/rush.jpg');
}

#frame_17 {
	background-image:url('../images/slide/rush1.jpg');
}

#frame_18 {
	background-image:url('../images/slide/rush2.jpg');
}

#frame_19 {
	background-image:url('../images/slide/kiosk.jpg');
}

#frame_20 {
	background-image:url('../images/slide/kiosk1.jpg');
}

/*#frame_21 {
	background-image:url('../images/slide/kiosk2.jpg');
}*/

#frame_22 {
	background-image:url('../images/slide/kiosk3.jpg');
}

#frame_23 {
	background-image:url('../images/slide/phone.jpg');
}

#frame_24 {
	background-image:url('../images/slide/phone1.jpg');
}

#frame_25 {
	background-image:url('../images/slide/gear.jpg');
}

#frame_26 {
	background-image:url('../images/slide/gear1.jpg');
}

#frame_27 {
	background-image:url('../images/slide/gear2.jpg');
}

#frame_28 {
	background-image:url('../images/slide/envelopes.jpg');
}

#frame_29 {
	background-image:url('../images/slide/envelopes1.jpg');
}

#frame_30 {
	background-image:url('../images/slide/prize.jpg');
}

#frame_31 {
	background-image:url('../images/slide/prize1.jpg');
}

#frame_32 {
	background-image:url('../images/slide/prize2.jpg');
}

#frame_33 {
	background-image:url('../images/slide/prize3.jpg');
}

#frame_34 {
	background-image:url('../images/slide/prize4.jpg');
}

#frame_35 {
	background-image:url('../images/slide/prize5.jpg');
}

#frame_36 {
	background-image:url('../images/slide/bags.jpg');
}

#frame_37 {
	background-image:url('../images/slide/bags1.jpg');
}

@media all and (max-width: 445px) {
	/* 
		Mobile Images 
		>Desktop
	*/

	#page1 {
		background: url(../images/project/bg.jpg) no-repeat center center fixed; 
		 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 -o-background-size: cover;
		background-size: cover;
	}

	#page2 {
		background: url(../images/project/bg3.jpg) no-repeat center center fixed; 
		 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 -o-background-size: cover;
		background-size: cover;
	}

	#page3 {
		background: url(../images/project/bg2.jpg) no-repeat center center fixed;
		 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 -o-background-size: cover;
		background-size: cover;
	}

	#page4 {
		background: url(../images/project/bg4.jpg) no-repeat center center fixed;
		 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 -o-background-size: cover;
		background-size: cover;
	}

	#page5 {
		background: url(../images/project/bg.jpg) no-repeat center center fixed;
		 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 -o-background-size: cover;
		background-size: cover;
	}

	#page6 {
		background: url(../images/project/bg4.jpg) no-repeat center center fixed;
		 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 -o-background-size: cover;
		background-size: cover;
	}

	#frame_1 {
		background-image:url('../images/slide/setup.jpg');
	}

	#frame_2 {
		background-image:url('../images/slide/queue.jpg');
	}

	#frame_3 {
		background-image:url('../images/slide/queue1.jpg');
	}

	#frame_4 {
		background-image:url('../images/slide/queue2.jpg');
	}

	#frame_5 {
		background-image:url('../images/slide/people1.jpg');
	}

	#frame_6 {
		background-image:url('../images/slide/people2.jpg');
	}

	#frame_7 {
		background-image:url('../images/slide/people3.jpg');
	}

	#frame_8 {
		background-image:url('../images/slide/people4.jpg');
	}

	#frame_9 {
		background-image:url('../images/slide/people5.jpg');
	}

	#frame_10 {
		background-image:url('../images/slide/people6.jpg');
	}

	#frame_11 {
		background-image:url('../images/slide/people7.jpg');
	}

	#frame_12 {
		background-image:url('../images/slide/tank1.jpg');
	}

	#frame_13 {
		background-image:url('../images/slide/tank2.jpg');
	}

	#frame_14 {
		background-image:url('../images/slide/tank3.jpg');
	}

	#frame_15 {
		background-image:url('../images/slide/speech.jpg');
	}

	#frame_16 {
		background-image:url('../images/slide/rush.jpg');
	}

	#frame_17 {
		background-image:url('../images/slide/rush1.jpg');
	}

	#frame_18 {
		background-image:url('../images/slide/rush2.jpg');
	}

	#frame_19 {
		background-image:url('../images/slide/kiosk.jpg');
	}

	#frame_20 {
		background-image:url('../images/slide/kiosk1.jpg');
	}

	/*#frame_21 {
		background-image:url('../images/slide/kiosk2.jpg');
	}*/

	#frame_22 {
		background-image:url('../images/slide/kiosk3.jpg');
	}

	#frame_23 {
		background-image:url('../images/slide/phone.jpg');
	}

	#frame_24 {
		background-image:url('../images/slide/phone1.jpg');
	}

	#frame_25 {
		background-image:url('../images/slide/gear.jpg');
	}

	#frame_26 {
		background-image:url('../images/slide/gear1.jpg');
	}

	#frame_27 {
		background-image:url('../images/slide/gear2.jpg');
	}

	#frame_28 {
		background-image:url('../images/slide/envelopes.jpg');
	}

	#frame_29 {
		background-image:url('../images/slide/envelopes1.jpg');
	}

	#frame_30 {
		background-image:url('../images/slide/prize.jpg');
	}

	#frame_31 {
		background-image:url('../images/slide/prize1.jpg');
	}

	#frame_32 {
		background-image:url('../images/slide/prize2.jpg');
	}

	#frame_33 {
		background-image:url('../images/slide/prize3.jpg');
	}

	#frame_34 {
		background-image:url('../images/slide/prize4.jpg');
	}

	#frame_35 {
		background-image:url('../images/slide/prize5.jpg');
	}

	#frame_36 {
		background-image:url('../images/slide/bags.jpg');
	}

	#frame_37 {
		background-image:url('../images/slide/bags1.jpg');
	}
}