@font-face {
  font-family: 'gt-walsheim';
  src: 
    url('../fonts/gt-walsheim-light-web.woff') format('woff'),
    url('../fonts/gt-walsheim-medium-web.woff') format('woff'),
    url('../fonts/gt-walsheim-light-web.ttf')  format('truetype'), 
    url('../fonts/gt-walsheim-medium-web.ttf')  format('truetype');
}

@font-face {
  font-family: 'Amatic';
  src: 
    url('../fonts/Amatic-Bold.ttf')  format('truetype'), 
    url('../fonts/AmaticSC-Regular.ttf')  format('truetype'); 
}

html {
    background-color: #343434;
}

p {
    font-family: 'gt-walsheim';
    color: #4E4E4E;
}

/*h2{
    font-family: 'gt-walsheim';
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    color: #A48BB3;
    margin: 0 0 15px 0;
}*/

h4{
    font-family: 'Amatic';
    font-size: 4em;
    font-weight: 100;
    text-align: center;
    color: #FFF;
    margin: 0 0 15px 0;
    /*padding: 0 1em;*/
}

h5{
    font-family: 'Amatic';
    font-size: 3.5em;
    font-weight: 100;
    text-align: center;
    color: #FFF;
    margin: 0;
    padding: 0 10px;
    /*margin: 0 0 15px 0;
    padding: 0 1em;*/
}

h2 {
    font-family: 'Amatic';
    font-size: 2.3em;
    font-weight: 100;
    text-align: center;
    color: #FFF;
    margin: 0;
    padding: 10px 0;
}

h1{
    font-family: 'Amatic';
    font-size: 1.8em;
    font-weight: 100;
    text-align: center;
    color: #FFF;
    margin: 0;
    padding: 10px 0 3px;
    /*margin: 0 0 15px 0;
    padding: 0 1em;*/
}

.alternate-style p{
    text-align: center;
    color: #FFF;
    padding: 0;
    margin: 0;
}

.person a {
    text-decoration: none;
}

.selectedWinner {
    z-index: 10;
}

.selectedWinner h4 {
    font-family: 'Amatic';
    font-size: 4em;
    font-weight: 100;
    text-align: center;
    color: #FFF;
    margin: 0 0 15px 0;
}

.howItWorks h4 {
    font-family: 'Amatic';
    font-size: 4em;
    font-weight: 100;
    text-align: center;
    color: #46166B;
    margin: 0 0 15px 0;
}

.person.is-hidden {
    display: none;
}

.possible_answer  {
    padding: .75em;
}

.possible_answer:hover {
	background: rgba(254, 231, 88, 1);
	cursor: pointer;
    font-weight: bold;
}

/* STYLES */
.mtree-wrap .mtree {
    background: #F7F7F7;
    margin: 20px auto 0;
    max-width: 100%;
    /*border-radius: 3px;*/
}

ul.mtree.bubba ul{
    padding: 0;
}

.next-submit{
	text-align: center;
}

#this-row{
	margin: 0;
}

.vertical-center {
 	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
 	min-height: 50vh; /* These two lines are counted as one :-)       */

 	display: flex;
 	align-items: center;
}

.hero-bg{
    background:url('../img/hero_1.jpg') no-repeat top center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    background-size: cover;
    min-height: 730px;
}

.full-width{
	width: 100%!important;
}
.full-width2{
    width: 1480px;
}

.vcenter img{
	margin: 0 auto;
}

.outer-margin-2em{
    margin: 2em 0 3.5em;
}

/*#png0001{
    border-radius: 50%;
    border: 4px solid grey;
    position: relative;
    z-index: 9999;
}*/

.mid-container {
    vertical-align: middle;
    display: inline-block;
}


.ellipse-x p{
	text-align: center;
	margin: 10px 0!important;
}

.ellipse-x img {
    border: 4px solid transparent;
    border-radius: 50%;
    opacity: .3;
}
.ellipse-x img:hover {
    border-radius: 50%;
    background: #F6B82B;
    opacity: 1;
}



.question-padding {
    padding: 3em 0 2em 0;
}

.logo {
    position: absolute;
    z-index: 1000;
}

.logo img {
    max-width:100%;
    height:auto;
    border:none;
    display: block;
    padding: 20px 0 0 0;
    /*margin: 0 auto;*/
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}

.btn-results {
    width: 100%;
    background-color: #343434;
    padding: 20px 0;
    text-align: center; 
}

.btn-results button {
    background-color: #F5B800;
    border-bottom: 2px solid #CAA74A;
    width: 140px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'gt-walsheim';
}

.btn-results button:hover {
    border-bottom: 2px solid #CAA74A;
    background-color: #F5B800;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'gt-walsheim';
}

.btn-Next {
    width: 100%;
    background-color: #FFF;
    padding: 20px 0;
    text-align: center; 
}

.btn-Next button {
    background-color: #F5B800;
    border-bottom: 2px solid #CAA74A;
    width: 140px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'gt-walsheim';
}

.btn-Next button:hover {
    background-color: #CAA74A;
}

.accordin-padding {
    padding-bottom: 50px;
}

#bg-color {
    /*background-color: #46166B;*/
    background-color: #343434;
}

.booking-padding {
    padding: 0 0 45px 0;
}

#icon-relative-pos {
    position: relative;
    margin: 0 auto;
    top: 15px;
    z-index: 1;
}

.pos-rel{
    position: relative;
}

.pos-ab{
    position: absolute;
}

.portrait-relative-pos {
    position: relative;
    top: 100px;
}

.rel-pos{
    position: relative;
    top: 80px;
}

.rel-pos-2nd{
    position: relative;
    top: 110px;
}

.portfolio-item {
    /*margin-bottom: 25px;*/
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}

.portrait-pos {
    padding:0;
    position:relative;
    top:100px;
    left: 0;
    right: 0;
    z-index: 1000;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.3); /*dim the background*/
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:5px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:5px solid #F5B800;

}
:checked + #openingQuestion{
    display: none;
}
label > input:checked + img + span{
    color: #FFF;
}
label > input:hover + img{ /* (RADIO HOVER) IMAGE STYLES */
  border:5px solid #F5B800;
}

label {
    font-family: 'gt-walsheim';
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    color: #A48BB3;
    margin: 0!important;
    cursor: pointer;
}

.hover-state:hover label{
    color: #FFF;
}

#wrapper-selected{
    display: none;
}

.person.is-hidden {
    display: none;
}

.ellipse-padding{
    padding: 20px 30px;
}

/* bg fix */
.responsive-container {
    position: relative;
    width: 100%;
    background:url('../img/hero_1.jpg') no-repeat top center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.dummy {
    padding-top: 60%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*padding: 0 80px;*/
    text-align:center; /* Align center inline elements */
    /*font: 0/0 a;*/
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

.banner-padding {
    padding: 0 40px;
}

/*.content {
    width: 670px;
    margin: 0 auto;
}
*/

.intro-style p {
    padding: 2em 0 1em;
    margin: 0!important;
    text-align: center;
}
.result-style p {
    padding: 2.5em 0 1em;
    margin: 0!important;
    text-align: center;
}

#bg-grad {
    background-image: -webkit-linear-gradient(left, #46166B, #46166B 50%, #F6B82B 50%);
    background-image: linear-gradient(to right, #46166B, #46166B 50%, #F6B82B 50%);
    padding: 1em 0;
}

/*USAGE*/
#myboxwithagradient {
  #gradient.horizontal(#46166B;#F6B82B;0%;50%);
  width:100%;
  height:50px;
  float:left;
}


/*OUTPUT*/
#myboxwithagradient {
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(#46166B), to(#F6B82B));
  background-image: -webkit-linear-gradient(left, color-stop(#46166B 50%), color-stop(#F6B82B 50%));
  background-image: -moz-linear-gradient(left, #46166B 50%, #F6B82B 50%);
  background-image: linear-gradient(to right, #46166B 50%, #F6B82B 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff333333', GradientType=1);
  width:100%;
  height:100%;
  float:left;
 }


/*
    Media Queries
*/
@media(max-width:991px){
    h5{
        font-size: 2.8em;
    }
}
@media(max-width:737px){
    h5{
        font-size: 2.5em;
    }
}
@media(max-width:670){
    h5{
        font-size: 2.2em
    }
}
@media(max-width:543px){
    h5{
        font-size: 3em
    }
}
@media(max-width:432px){
    h5{
        font-size: 2.7em
    }
}
@media(max-width:390px){
    h5{
        font-size: 2.3em
    }
}
@media(max-width:341px){
    h5{
        font-size: 2.1em;
    }
}
@media(max-width:307px){
    h5{
        font-size: 1.6em;
    }
}
@media(max-width:245px){
    h5{
        font-size: 1.5em;
        padding: 0 5px;
    }
}
@media(max-width:767px){
    .hero-bg{
        min-height: 590px;
    }
    ul.mtree.bubba a {
      padding: 1em 2em;    
    }
    /*.portrait-relative-pos {
        position: relative;
        top: 70px;
    }
*/}
@media(min-width:768px){
    .hero-bg{
        min-height: 680px;
    }
}
@media(min-width:992px){
    .hero-bg{
        min-height: 726px;
    }
    /*.portrait-relative-pos{
        top: 80px;
    }*/
}
@media(min-width:1200px){
    .hero-bg{
        min-height: 800px;
    }
}

/*

    SLIDER CSS

*/

.ri-grid{
    margin: 0 auto;
    /*position: relative;*/
    position: absolute;
    height: auto;
}

.ri-grid ul {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.ri-grid ul:before,
.ri-grid ul:after{
    content: '';
    display: table;
}

.ri-grid ul:after {
    clear: both;
}

.ri-grid ul {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
} 

.ri-grid ul li {
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -o-perspective: 400px;
    -ms-perspective: 400px;
    perspective: 400px; 
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
    background: #000;
}

.ri-grid ul li a{
    display: block;
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #333;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Grid wrapper sizes */
.ri-grid-size-1{
    width: 55%;
}
.ri-grid-size-2{
    width: 100%;
}
.ri-grid-size-3{
    width: 100%;
    margin-top: 0px;
}

/* Shadow style */
.ri-shadow:after,
.ri-shadow:before{
    content: "";
    position: absolute;
    z-index: -2;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    max-height: 100px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.ri-shadow:after{
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}

.ri-grid-loading:after,
.ri-grid-loading:before{
    display: none;
}

.ri-loading-image{
    display: none;
}

.ri-grid-loading .ri-loading-image{
    position: relative;
    width: 30px;
    height: 30px;
    left: 50%;
    margin: 100px 0 0 -15px;
    display: block;
}
